/************************
Framaework CSS - SCSS
Version: 1.0
Date: 31/01/2015
*************************/

/* normalize */
@import "normalize.css";
/* GOOGLE FONT: Roboto */
@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic');
/* GOOGLE FONT: Roboto Sans Mono */
@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono');

/**
 * 0.0 SASS Mixins
 * ----------------------------------------------------------------------------
 */
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;fff
		clear: both;
	}ccc
}

@mixin border-radius($radius: 3px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	        border-radius: $radius;
}